@font-face{
    font-family: xray;
    src: url(/fonts/trench100.ttf);
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #0074d3;
}

a {
    color: #0066FF;
}

p {
    display: inline;
    padding-left: 40pt;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 400px;
    text-align: right;
}

#header {
    min-height: 90px;
    padding-left: 6%;
    padding-top: 1px;
    border: 5px solid #80b3ff;
    border-radius: 10px;
    border-top: 0px;
    border-right: 0px;
    font-family: xray;
    color: #cce0ff;
    text-shadow: 2px 3px #4460bb;
    background-image: linear-gradient(to top right, #80b3ff, #0074d3, #0074d3);
}
#header h2{
    margin-bottom: 0px;
    text-align: left;
    font-size: 80px;
    padding-top: 5px;
    line-height: 0;
    font-weight: 9999;
}
#header h4{
    margin: 0px;
    font-size: 30px;
    padding-right: 2%;
    text-align: right;
}

.section {
    border: 1px solid #80b3ff;
    border-radius: 20px;
    border-right: 0px;
    border-top: 0px;
    padding: 5px;
    font-family: xray;
    color: #ddf0ff;
    font-size: 45px;
    padding-top: 20px;
    font-weight: 9999;
}

