<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/MPPT.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <script>
var source = new EventSource('/stream');

source.onopen = function(e) {
    console.log('event source opened.');
    console.log(e);
}

source.onerror = function(e) {
    console.log('error received :' + e);
}

source.onmessage = function(e) {
    obj = JSON.parse(e.data);
    parse(obj);
    buildCharts(obj);
}
    </script>
    <body>
        <div id="header">
        </div>
        <div id="container">
            <div class="section" id="battery">
                <label>Battery V: </label><p id="battV"></p><br>
                <label>Battery I: </label><p id="battI"></p><br>
                <label>Charge State: </label><p id="chargeState"></p><br>
                <div id="BattPlotDiv"></div>
            </div>
            <div class="section" id="panels">
                <label>Panel V: </label><p id="panelV"></p><br>
                <label>Panel W: </label><p id="panelW"></p><br>
                <div id="PanPlotDiv"></div>
            </div>
            <div class="section" id="load">
                <label>Load State: </label><p id="loadState"></p><br>
                <label>Load I: </label><p id="loadI"></p><br>
            </div>
            <div class="section" id="status">
                <label>Error: </label><p id="error"></p><br>
                <label>Yield Total: </label><p id="yieldTot"></p><br>
                <label>Yield Today: </label><p id="yieldTod"></p><br>
                <label>Yield Yesterday: </label><p id="yieldYes"></p><br>
                <label>Max Today: </label><p id="maxTod"></p><br>
                <label>Max Yesterday: </label><p id="maxYes"></p><br>
                <label>Days In Operation: </label><p id="days"></p><br>
            </div>
        </div>
    </body>
</html>
